__pycache__/
*.py[cod]
*.sqlite3
.env
venv/
.venv/
env/
.pytest_cache/
.coverage
htmlcov/
media/*
!media/.gitkeep
staticfiles/
static/*
!static/.gitkeep
.next
.env.local
.env.production
*.pyc 
db.sqlite3